h1 {
  color: aqua;
}

body {
  text-align: center;
  background-color: darkslategray;
}



.q {
  background-image: url("images/green.png");
}

.w{
  background-image: url("images/red.png");
}

.a{
  background-image: url("images/yellow.png");
}

.s{
  background-image: url("images/blue.png");
}

.segment {
  width: 300px;
  height: 300px;
  background-size: 100%;
  background-color:transparent;
  color: transparent;
  border: 0px;
  
}

.row {
  padding: 2px;
}

.pressed {
  
  opacity: 0.5;
}